<section>
    <div class="content">
        <h1 class="title">Exemplos</h1>
        <!-- <app-carrossel></app-carrossel> -->
        <h3>RSSF para monitoramento de queimadas</h3>
        <div class="img">
          <img src="../../../assets/img3.png" alt="">
        </div>
        <h3>Aplicação militar de RSSF para monitoramento de campo.</h3>
        <div class="img">
          <img src="../../../assets/img1.jpg" alt="">
        </div>
        <h3>Modelo de RSSF auxiliando um processo industrial em 4 módulos, utilizando protocolos RF 802.15.4 e Ethernet.</h3>
        <div class="img">
          <img src="../../../assets/img2.jpg" alt="" width="400px" height="500px">
        </div>
      </div>


</section>
