<!-- <app-menu></app-menu> -->
<p-menubar [model]="items">
  <a routerLink="conceito"><button pButton label="Conceito" icon="pi pi-book"></button></a>
  <a routerLink="aplicacao"><button pButton label="Aplicação" icon="pi pi-desktop"></button></a>
  <a routerLink="funcionamento"><button pButton label="Funcionamento" icon="pi pi-wrench"></button></a>
  <a routerLink="exemplo"><button pButton label="Exemplo" icon="pi pi-video"></button></a>
  <a routerLink=""><button pButton icon="pi pi-wifi"></button></a>
</p-menubar>

<div class="layout">
  <p-card>
    <h1 class="name"><i class="pi pi-wifi" style="font-size: 2rem"></i> Redes de Sensores sem Fio</h1>
  </p-card>
</div>


<router-outlet></router-outlet>
