<section>
  <div class="content">
    <h1 class="title">Funcionamento</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae obcaecati mollitia repellat saepe, autem eaque laborum quam accusamus necessitatibus ea delectus distinctio sint, corporis praesentium eos! Ducimus sequi eos ratione!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque sunt fugit assumenda ad, illum, cupiditate reprehenderit ut perspiciatis maxime facilis. Corporis totam, minima nostrum aperiam repellat cum impedit veniam!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit aliquam aperiam nisi eos exercitationem dignissimos facere provident totam sapiente magnam optio nobis dolorem praesentium deserunt rerum sunt, voluptas dolorum.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum laudantium enim nihil nesciunt libero in ex ullam molestiae quidem asperiores dolore iste officia expedita ipsum eligendi quae, maiores dicta? Eos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur inventore cumque harum laborum fugit eaque soluta reiciendis nisi magnam. Quam, natus! Expedita voluptatibus omnis, minima culpa adipisci quibusdam quis iure.
    </p>
  </div>
</section>
