<section>
  <div class="content">
    <h1 class="title">Aplicação</h1>
    <h3>Monitoramento ambiental</h3>
    <p>Ex: Verificação da poluição atmosférica</p>
    <h3>Agricultura</h3>
    <p>Ex: Controle das condições do solo</p>
    <h3>Agropecuária</h3>
    <p>Ex: Alimentação animal</p>
    <h3>Estruturas civis</h3>
    <p>Ex: Estado de construções, fadiga, controle sismico</p>
    <h3>Transporte urbano</h3>
    <p>Ex: Redes veiculares</p>
    <h3>Logística</h3>
    <p>Ex: Corredores sincromodais</p>
    <h3>Medicina e saúde</h3>
    <p>Ex: Monitoramento de pacientes</p>
    <h3>Produção industrial</h3>
    <p>Ex: Controle de evazão</p>
    <h3>Segurança e monitoramento de espaços públicos</h3>
    <p>Ex: Segurança de algum evento publico</p>
    <h3>Monitoramento de áreas de risco</h3>
    <p>Ex: Encostas</p>
    <h3>Gerenciamento de desastres</h3>
    <p>Ex: Incêndios, enchentes</p>
  </div>
</section>
